@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200italic,400italic);
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 20, ../sass/_base.scss */
body,
html {
  width: 100%;
  height: 100%;
  font: normal 14px/18px 'Source Sans Pro', sans-serif;
  overflow: hidden;
}

/* line 27, ../sass/_base.scss */
a {
  text-decoration: none;
  color: #0071b7;
}

/* line 32, ../sass/_base.scss */
p {
  font-size: 1em;
}

/* line 34, ../sass/_base.scss */
h1, h2 {
  font-weight: 200;
  letter-spacing: -1px;
  padding: 0;
}

/* line 40, ../sass/_base.scss */
h1 {
  font-size: 2.85em;
  margin: 10px 0 20px 0;
}

/* line 45, ../sass/_base.scss */
h2 {
  font-size: 1.8em;
  margin: 0;
}

/* line 50, ../sass/_base.scss */
h3 {
  font-size: 1.286em;
  font-weight: bold;
  margin: 0;
}

/* line 58, ../sass/_base.scss */
.active {
  z-index: 999 !important;
  opacity: 1 !important;
}

/* line 63, ../sass/_base.scss */
.grey {
  color: #333333 !important;
}

/* line 67, ../sass/_base.scss */
.warn {
  color: #999;
}
/* line 69, ../sass/_base.scss */
.warn:hover {
  color: #333333;
}

/* line 74, ../sass/_base.scss */
.slideUp {
  top: 100% !important;
}

/* line 78, ../sass/_base.scss */
.slideDown {
  top: -100% !important;
}

/* line 82, ../sass/_base.scss */
.menu-exit {
  height: 75px;
  margin: 0 0 0 20px;
  padding: 0;
  color: #c8c8c8;
  font-size: 1.8em;
  line-height: 75px;
  font-weight: 100;
  background: none;
}
/* line 91, ../sass/_base.scss */
.menu-exit i {
  margin-right: 15px;
}
/* line 95, ../sass/_base.scss */
.menu-exit:hover {
  color: #0071b7;
}

/* line 100, ../sass/_base.scss */
.close {
  border: 1px solid white;
  width: 26px;
  height: 26px;
  color: white;
  text-align: center;
  line-height: 51%;
  border-radius: 100%;
  background: none;
  z-index: 999;
}

/* line 113, ../sass/_base.scss */
.linear {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

/* line 121, ../sass/_base.scss */
.easeInOut {
  -webkit-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1);
}

/* line 129, ../sass/_base.scss */
.bounce {
  -webkit-transition: all 300ms cubic-bezier(0.55, 0.23, 0, 1);
  -webkit-transition: all 300ms cubic-bezier(0.55, 0.23, 0, 1.65);
  -moz-transition: all 300ms cubic-bezier(0.55, 0.23, 0, 1.65);
  -ms-transition: all 300ms cubic-bezier(0.55, 0.23, 0, 1.65);
  -o-transition: all 300ms cubic-bezier(0.55, 0.23, 0, 1.65);
  transition: all 300ms cubic-bezier(0.55, 0.23, 0, 1.65);
}

/* line 2, ../sass/_forms.scss */
input[type="submit"],
button {
  border: 0;
}
/* line 4, ../sass/_forms.scss */
input[type="submit"]:hover,
button:hover {
  cursor: pointer;
}
/* line 7, ../sass/_forms.scss */
input[type="submit"]:focus,
button:focus {
  outline: none;
}

/* line 14, ../sass/_forms.scss */
input[type="text"],
textarea,
.btn {
  margin: 0 0 20px 0;
  padding: 10px 20px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 26, ../sass/_forms.scss */
input[type="text"],
textarea {
  font-weight: 200;
  font-style: italic;
  background: #cccccc;
  color: #c6c6c6;
}
/* line 31, ../sass/_forms.scss */
input[type="text"]:focus,
textarea:focus {
  background: white;
}

/* line 36, ../sass/_forms.scss */
.name {
  width: 20%;
}

/* line 37, ../sass/_forms.scss */
.email {
  width: 30%;
}

/* line 38, ../sass/_forms.scss */
.subject {
  width: 40%;
}

/* line 39, ../sass/_forms.scss */
.text {
  width: 100%;
  height: 150px;
  padding-top: 20px;
}

/* line 45, ../sass/_forms.scss */
.btn {
  padding: 10px 40px;
  color: white;
  font-weight: 400;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

/* line 57, ../sass/_forms.scss */
.blue {
  border-top: 1px solid #0086c9;
  background: #0071b7;
  background: -moz-linear-gradient(top, #0071b7 0%, #0071b7 50%, #2756a6 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0071b7), color-stop(50%, #0071b7), color-stop(99%, #2756a6));
  background: -webkit-linear-gradient(top, #0071b7 0%, #0071b7 50%, #2756a6 99%);
  background: -o-linear-gradient(top, #0071b7 0%, #0071b7 50%, #2756a6 99%);
  background: -ms-linear-gradient(top, #0071b7 0%, #0071b7 50%, #2756a6 99%);
  background: linear-gradient(to bottom, #0071b7 0%, #0071b7 50%, #2756a6 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0071b7', endColorstr='#2756a6',GradientType=0 );
}

/* line 69, ../sass/_forms.scss */
.meta {
  margin-left: 15px;
  padding-left: 15px;
  color: #ececec;
  font-weight: 200;
  font-size: 1.1em;
  font-style: italic;
  letter-spacing: 1px;
  border-left: 1px solid #ececec;
  opacity: .5;
}
/* line 70, ../sass/_forms.scss */
.meta strong {
  letter-spacing: normal;
}

/*
#   Built By FatCat =^^=
#   www.fatcatonline.net
*/
/*---------------------------------*/
/*
#  - Main
#  - Work
#  - Home
#  - About
*/
/* Main Window */
/* line 17, ../sass/_main.scss */
#main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Contact Page */
/* line 25, ../sass/_main.scss */
#contactblock {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background: url("../img/wrapper-bg.png") repeat top left;
  opacity: 0;
  z-index: 0;
}
/* line 37, ../sass/_main.scss */
#contactblock header {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 44, ../sass/_main.scss */
.wrapper {
  position: absolute;
  width: 50%;
  height: 700px;
  top: 50%;
  left: 25%;
  margin-top: -227px;
}
/* line 51, ../sass/_main.scss */
.wrapper h1 {
  margin: 0 0 30px 0;
  color: white;
  text-transform: uppercase;
}

/* line 58, ../sass/_main.scss */
#content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 69, ../sass/_main.scss */
#workblock,
#homeblock,
#aboutblock {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

/* Home Page Styling */
/* line 79, ../sass/_main.scss */
#homeblock {
  top: 0;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 90, ../sass/_main.scss */
#homeblock .logo {
  width: 373px;
  height: 156px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -78px 0 0 -186.5px;
  overflow: hidden;
  text-indent: -999em;
  background: url("../img/logo-fatcat.png") no-repeat center;
  opacity: 0;
}
/* line 101, ../sass/_main.scss */
#homeblock .logo h1, #homeblock .logo small {
  margin-left: -999em;
}

/* Work Page Styling */
/* line 109, ../sass/_main.scss */
#workblock {
  top: -100%;
  background: #c6c6c6;
}

/* line 114, ../sass/_main.scss */
.portfolio-sidebar {
  width: 15%;
  height: 100%;
  float: left;
  background: #1a1a1a;
}
/* line 119, ../sass/_main.scss */
.portfolio-sidebar h3 {
  color: #c8c8c8;
  text-indent: 40px;
  margin: 0;
  padding: 40px 0 20px 0;
  border-top: 1px solid #333;
}

/* line 128, ../sass/_main.scss */
.portfolio-sidebar-box {
  width: 100%;
  margin-top: 95px;
  border-top: 5px solid black;
}

/* line 134, ../sass/_main.scss */
ul.portfolio-categories {
  margin: 0;
  padding: 0;
}
/* line 137, ../sass/_main.scss */
ul.portfolio-categories li {
  width: 100%;
  height: 50px;
  margin: 0 0 1px 0;
}
/* line 142, ../sass/_main.scss */
ul.portfolio-categories a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #666666;
  font-size: 1.286em;
  text-transform: uppercase;
  font-weight: 100;
  text-indent: 40px;
}
/* line 153, ../sass/_main.scss */
ul.portfolio-categories .active, ul.portfolio-categories a:hover {
  position: relative;
  color: white;
  background: #282828;
}
/* line 157, ../sass/_main.scss */
ul.portfolio-categories .active:before, ul.portfolio-categories a:hover:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background: #333;
  top: 0;
  left: 0;
}

/* line 169, ../sass/_main.scss */
ul.stage {
  width: 85%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 177, ../sass/_main.scss */
ul.stage li {
  list-style: none;
  width: 50%;
  height: 50%;
  overflow: hidden;
  float: left;
  text-align: center;
}
/* line 184, ../sass/_main.scss */
ul.stage li img {
  width: 100%;
  height: auto;
}

/* About Page Styling */
/* line 259, ../sass/_main.scss */
#aboutblock {
  bottom: -100%;
  background: white;
}
/* line 262, ../sass/_main.scss */
#aboutblock header {
  position: relative;
  width: 100%;
  height: 120px;
  line-height: 120px;
  text-align: center;
  background: #666666;
}
/* line 269, ../sass/_main.scss */
#aboutblock header h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 4.929em;
  font-style: italic;
}
/* line 276, ../sass/_main.scss */
#aboutblock header a {
  display: block;
  position: absolute;
  height: 80px;
  width: 20px;
  top: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  color: white;
  font-weight: 200;
  font-size: 2em;
  line-height: 80px;
  background: #333333;
  cursor: pointer;
}
/* line 295, ../sass/_main.scss */
#aboutblock .content {
  width: 61%;
  margin: 0 auto;
  font-weight: 200;
  font-size: 2.243em;
  line-height: 55px;
  color: #666666;
}
/* line 302, ../sass/_main.scss */
#aboutblock .content p {
  margin: 60px 0;
  padding: 0;
}
/* line 306, ../sass/_main.scss */
#aboutblock .content span {
  color: #0071b7;
  font-weight: 400;
  font-style: italic;
}
/* line 311, ../sass/_main.scss */
#aboutblock .content .line {
  width: 100px;
  height: 1px;
  margin: 0 auto;
  border-top: 1px solid #c6c6c6;
}

/* Nav Button */
/* line 319, ../sass/_main.scss */
nav {
  margin: 20px 0 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* Rotating text */
  /* Navigation links */
}
/* line 325, ../sass/_main.scss */
nav .menu {
  display: block;
  width: 70px;
  height: 70px;
  position: relative;
  margin-right: 20px;
  float: left;
  text-align: center;
  line-height: 70px;
  z-index: 4;
}
/* line 335, ../sass/_main.scss */
nav .menu .list {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -13px;
  color: white;
  font-size: 1.15em;
  text-align: center;
  line-height: 23px;
  border-radius: 100%;
  background: none;
}
/* line 348, ../sass/_main.scss */
nav .menu .list:hover {
  color: #0071b7;
}
/* line 352, ../sass/_main.scss */
nav .menu .circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 100%;
  z-index: -1;
}
/* line 361, ../sass/_main.scss */
nav .menu .circle span {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -14px;
  padding: 0;
  line-height: 100%;
  border-radius: 100%;
  background: none;
}
/* line 375, ../sass/_main.scss */
nav .menu .circle .menu-active {
  width: 70px;
  height: 70px;
  margin: -34px 0 0 -34px;
  background: #cccccc;
}
/* line 384, ../sass/_main.scss */
nav .menu:hover, nav .menu:active {
  color: #0071b7;
  cursor: pointer;
}
/* line 388, ../sass/_main.scss */
nav .menu a {
  display: block;
  width: inherit;
  height: inherit;
  text-indent: -999em;
}
/* line 398, ../sass/_main.scss */
nav .flip {
  float: left;
  height: 70px;
  color: #c6c6c6;
  line-height: 70px;
  font-size: 1.769em;
  font-weight: 200;
  word-spacing: 9px;
}
/* line 406, ../sass/_main.scss */
nav .flip p {
  margin: 0;
}
/* line 409, ../sass/_main.scss */
nav .flip span {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 55px;
  text-align: center;
}
/* line 415, ../sass/_main.scss */
nav .flip span a {
  color: #0071b7;
  line-height: 24px;
  border-bottom: 1px dotted #666666;
}
/* line 419, ../sass/_main.scss */
nav .flip span a:hover {
  color: #c6c6c6;
  cursor: pointer;
}
/* line 429, ../sass/_main.scss */
nav ul#items {
  width: 70px;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}
/* line 435, ../sass/_main.scss */
nav ul#items li.navItem {
  position: relative;
  list-style: none;
}
/* line 439, ../sass/_main.scss */
nav ul#items li.navItem button {
  display: block;
  width: 22px;
  margin: 0 auto;
  padding: 25px 0;
  color: #cccccc;
  border: none;
  background: none;
  border-bottom: 1px solid #666666;
  overflow: hidden;
}
/* line 449, ../sass/_main.scss */
nav ul#items li.navItem button:hover {
  color: white;
}
/* line 454, ../sass/_main.scss */
nav ul#items li.navItem:last-child button {
  border-bottom: none;
}
/* line 456, ../sass/_main.scss */
nav ul#items li.navItem span {
  display: none;
  position: absolute;
  width: 80px;
  left: 50px;
  padding: 10px;
  color: #888;
  text-align: left;
}

/* When hiding an element */
/* line 2, ../sass/_animation.scss */
nav.ng-hide-add {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  opacity: 1;
}

/* line 10, ../sass/_animation.scss */
nav.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}

/* When showing an element */
/* line 15, ../sass/_animation.scss */
nav.ng-hide-remove {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display: block !important;
  opacity: 0;
}

/* line 28, ../sass/_animation.scss */
nav,
nav.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
