/* When hiding an element */
nav.ng-hide-add {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;

  opacity:1;
}
nav.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

/* When showing an element */
nav.ng-hide-remove {
  -webkit-transition:0.2s linear all;
  -moz-transition:0.2s linear all;
  -o-transition:0.2s linear all;
  transition:0.2s linear all;

  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
  opacity:0;
}
nav,
nav.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

// nav,
// nav.ng-hide-remove-stagger.ng-hide-remove-active-stagger,
// nav.ng-hide-remove-stagger {
//   /* this will have a 100ms delay between each successive leave animation */
//   -webkit-transition-delay: 0.1s;
//   transition-delay: 0.1s;

//   /* in case the stagger doesn't work then these two values
//    must be set to 0 to avoid an accidental CSS inheritance */
//   -webkit-transition-duration: 0s;
//   transition-duration: 0s;
// }