/*
#   Built By FatCat =^^=
#   www.fatcatonline.net
*/

/*---------------------------------*/

/*
#  - Main
#  - Work
#  - Home
#  - About
*/


/* Main Window */
#main{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Contact Page */
#contactblock{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: url('../img/wrapper-bg.png') repeat top left;
    opacity: 0;
    z-index: 0;
    header{
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.wrapper{
    position: absolute;
    width: 50%;
    height: 700px;
    top: 50%;
    left: 25%;
    margin-top: -227px;
    h1{
        margin: 0 0 30px 0;
        color: white;
        text-transform: uppercase;
    }
}

#content{
    position: absolute;
    width: 100%;
    height: 100%;
    // top: 100%!important;
    top: 0;
    left: 0;
}

#workblock,
#homeblock,
#aboutblock{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0; padding: 0;
}


/* Home Page Styling */
#homeblock{
    top: 0;
    background: url('../img/bg.jpg') no-repeat center center fixed;

    //Full size background
    -webkit-background-size: cover;
       -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;

    //Fluid center
    .logo{
        width: 373px;
        height: 156px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -78px 0 0 -186.5px;
        overflow: hidden;
        text-indent: -999em;
        background: url('../img/logo-fatcat.png') no-repeat center;
        opacity: 0;
        h1, small{
            margin-left: -999em;
        }
    }
}


/* Work Page Styling */
#workblock{
    top: -100%;
    background: $grey;
}

.portfolio-sidebar{
    width: 15%;
    height: 100%;
    float: left;
    background: #1a1a1a;
    h3{
        color: #c8c8c8;
        text-indent: 40px;
        margin: 0;
        padding: 40px 0 20px 0;
        border-top: 1px solid #333;
    }
}

.portfolio-sidebar-box{
    width: 100%;
    margin-top: 95px;
    border-top: 5px solid black;
}

ul.portfolio-categories{
    margin: 0;
    padding: 0;
    li{
        width: 100%;
        height: 50px;
        margin: 0 0 1px 0;
    }
    a{
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        color: $darkgrey;
        font-size: 1.286em;
        text-transform: uppercase;
        font-weight: 100;
        text-indent: 40px;
    }
    .active, a:hover{
        position: relative;
        color: white;
        background: #282828;
        &:before{
            content: '';
            position: absolute;
            width: 5px;
            height: 100%;
            background: #333;
            top: 0;
            left: 0;
        }
    }
}

ul.stage{
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    li{
        list-style: none;
        width: 50%;
        height: 50%;
        overflow: hidden;
        float: left;
        text-align: center;
        img{
            width: 100%;
            height: auto;
        }
    }
}
        // .bottom{
        //  position: relative;
        //  width: 100%;
        //  height: 100%;
  //           margin-top: -21px;
        //  border-right: 1px solid black;
        //  background: white;
        //  &:before{
        //      content: "";
        //      position: absolute;
        //      top: -36px;
        //      left: 0;
        //      width: 100%;
        //      height: 36px;
        //      background: url(../img/block-triangle.png) no-repeat center;

        //      //Full size background
        //      -webkit-background-size: cover;
        //       -moz-background-size: cover;
        //               -o-background-size: cover;
        //                  background-size: cover;
        //  }
        //  &:after{
        //      content: "";
        //      position: absolute;
        //      top: -36px;
        //      left: 0;
        //      width: 100%;
        //      height: 100%;
        //      z-index: 999;

        //      // Inset box shadow as border
        //      -webkit-box-shadow: inset 1px 0px 0px 0px $grey;
        //           -moz-box-shadow: inset 1px 0px 0px 0px $grey;
        //                      box-shadow: inset 1px 0px 0px 0px $grey;
        //  }
        //  h2{
        //      margin-top: 30px;
        //      padding-bottom: 10px;
        //  }
        //  .line{
        //      @include line(55px);
        //  }
        //  img{
        //      width: 37px;
        //      height: 37px;
        //      margin: 20px 0;
        //      &:first-child{
        //          margin-right: 10px;
        //      }
        //  }
        //  .content{
        //      margin-top: 30px;
        //      p{
        //          width: 100%;
        //          color: $darkgrey;
        //          font-size: 1.2em;
        //          font-weight: 200;
        //          font-style: italic;
        //          margin: 0 0 10px 0;
        //          padding: 0;
        //      }
        //  }
        // }
//     }
// }


/* About Page Styling */
#aboutblock{
    bottom:-100%;
    background: white;
    header{
        position: relative;
        width: 100%;
        height: 120px;
        line-height: 120px;
        text-align: center;
        background: $darkgrey;
        h1{
            margin: 0;
            padding: 0;
            color: white;
            font-size: 4.929em;
            font-style: italic;
        }
        a{
            display: block;
            position: absolute;
            height: 80px;
            width: 20px;
            top: 0;
            right: 0;
            margin: 0;
            padding: 20px;
            color: white;
            font-weight: 200;
            font-size: 2em;
            line-height: 80px;
            background: $mediumgrey;
            cursor: pointer;
        }
    }

    // Mission statement
    .content{
        width: 61%;
        margin: 0 auto;
        font-weight: 200;
        font-size: 2.243em;
        line-height: 55px;
        color: $darkgrey;
        p{
            margin: 60px 0;
            padding:0;
        }
        span{
            color: $blue;
            font-weight: 400;
            font-style: italic;
        }
        .line{
            @include line(100px);
        }
    }
}


/* Nav Button */
nav{
    margin: 20px 0 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .menu{
        display: block;
        width: 70px;
        height: 70px;
        position: relative;
        margin-right: 20px;
        float: left;
        text-align: center;
        line-height: 70px;
        z-index: 4;
        .list{
            position: absolute;
            width: 26px;
            height: 26px;
            top: 50%;
            left: 50%;
            margin: -11px 0 0 -13px;
            color: white;
            font-size: 1.15em;
            text-align: center;
            line-height: 23px;
            border-radius: 100%;
            background: none;
            &:hover{
                color: $blue;
            }
        }
        .circle{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            line-height: 100%;
            z-index: -1;
            span{
                position: absolute;
                display: block;
                width: 30px;
                height: 30px;
                top: 50%;
                left: 50%;
                margin: -14px 0 0 -14px;
                padding: 0;
                line-height: 100%;
                border-radius: 100%;
                // border: 2px solid transparent;
                background: none;
            }
            .menu-active{
                width: 70px;
                height: 70px;
                margin: -34px 0 0 -34px;
                background: $lightgrey;
                // border: 2px solid #333;
            }
        }
        &:hover,
        &:active{
            color: $blue;
            cursor: pointer;
        }
        a{
            display: block;
            width: inherit;
            height: inherit;
            text-indent: -999em;
        }
    }


    /* Rotating text */
    .flip{
        float: left;
        height: 70px;
        color: $grey;
        line-height: 70px;
        font-size: 1.769em;
        font-weight: 200;
        word-spacing: 9px;
        p{
            margin: 0;
        }
        span{
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 55px;
            text-align: center;
            a{
                color: $blue;
                line-height: 24px;
                border-bottom: 1px dotted $darkgrey;
                &:hover{
                    color: $grey;
                    cursor: pointer;
                }
            }
        }
    }


    /* Navigation links */
    ul#items{
        width: 70px;
        margin: 0;
        padding: 0;
        color: white;
        text-align: center;
        li.navItem{
            position: relative;
            list-style: none;
            //display: none;
            button{
                display: block;
                width: 22px;
                margin: 0 auto;
                padding: 25px 0;
                color: $lightgrey;
                border: none;
                background: none;
                border-bottom: 1px solid $darkgrey;
                overflow: hidden;
                &:hover{
                    color: white;
                }
            }
            &:last-child{
                button{ border-bottom: none; }
            }
            span{
                display: none;
                position: absolute;
                width: 80px;
                left: 50px;
                padding: 10px;
                color: #888;
                text-align: left;
            }

            // Insert nav icons
            // .home   { background: url('../img/nav-icon-home.png')    no-repeat center; }
            // .work   { background: url('../img/nav-icon-work.png')    no-repeat center; }
            // .contact{ background: url('../img/nav-icon-contact.png') no-repeat center; }
            // .about  { background: url('../img/nav-icon-about.png')   no-repeat center; }
        }
    }
}