    <!-- Navigation
    -------------------------------------->
    <nav class="nav-menu" ng-class="{'nav-menu-active': !move}">
        <div class="menu" ng-click="expand()" >
            <button class="list" ng-class="{'grey': grow}">
                <i class="fa fa-list-ul"></i>
            </button>
            <div class="circle large">
                <span class="bounce" ng-class="{'menu-active': grow}">&nbsp;</span>
            </div>
        </div>
        <div class="flip fade" ng-hide="move">
            <p>We&nbsp;<span><a id="slot" ng-click="slide('top')">build</a></span>&nbsp;web&nbsp;stuff.</p>
        </div>
        <ul id="items" ng-show="grow">
            <li ng-mouseenter="tooltip('portfolio')" ng-mouseleave="tooltip('portfolio')" class="navItem">
                <button ng-click="slide('top')"><i class="fa fa-desktop fa-lg"></i></button>
                <span ng-show="portfolioTip" class="fade"><i class="fa fa-caret-left"></i>Portfolio</span>
            </li>
            <li ng-mouseenter="tooltip('contact')" ng-mouseleave="tooltip('contact')" class="navItem">
                <button ng-click="showContactPage()"><i class="fa fa-envelope fa-lg"></i></button>
                <span ng-show="contactTip" class="fade"><i class="fa fa-caret-left"></i>Contact</span>
            </li>
            <li ng-mouseenter="tooltip('about')" ng-mouseleave="tooltip('about')" class="navItem">
                <button ng-click="slide('btm')"><i class="fa fa-info fa-lg"></i></button>
                <span ng-show="aboutTip" class="fade"><i class="fa fa-caret-left"></i>About</span>
            </li>
        </ul>
    </nav>

    <nav class="nav-menu" ng-class="{'nav-menu-active': move}">
        <a class="menu-exit" href="" ng-click="slide('mid')">
            <span class="close-portfolio">&times;</span>&nbsp;HOME
        </a>
    </nav>
    <!-- #End: Navigation -->

    <!-- Download Resume -->
    <a ng-hide="hideResume" class="resume blue fade" href="/pdf/nick-ruiz-fatcat-resume.pdf" target="_blank" title="Resume Nick Ruiz">
        <i class="fa fa-cloud-download"></i>RESUME&nbsp;(1.5MB)
    </a>
    <!-- #End: Download -->


    <!-- MAIN CONTENT
    -------------------------------------->
    <div id="content" class="ease-in-out {{ slideDir }}">

        <!-- Portfolio Page -->
        <div id="portfolio-block">
            <div class="portfolio-sidebar">
                <div class="portfolio-sidebar-box">
                    <h3>OUR WORK</h3>
                    <ul class="portfolio-categories">
                        <li ng-repeat="category in portfolioCategories">
                            <a href="" title="" ng-class="{active: selectedIndex == $index}" ng-click="filterCategory(category.filter)">
                                <i class="fa fa-{{ category.icon }}"></i> {{ category.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="portfolio-pieces-stage">
                <li class="portfolio-piece" ng-repeat="piece in portfolioPieces | filter: categoryFilter">
                    <a class="portfolio-main-image" href="" title="">
                        <img ng-src="images/portfolio/{{ piece.id }}/main.jpg" border="" alt="">
                    </a>
                    <div class="portfolio-piece-info-block">
                        <div class="info-description">
                            <p><i class="fa fa-{{ piece.icon }}"></i></p><p ng-bind-html="piece.excerpt"></p>
                        </div>
                        <div class="info-row">
                            <div class="info-header">
                                <h1>{{ piece.client }}</h1>
                                <div class="portfolio-title-line"></div>
                            </div>
                            <div class="portfolio-description" ng-bind-html="piece.description"></div>
                            <div class="info-extras">
                                <ul class="portfolio-extras">
                                    <li><h3>MORE:</h3></li>
                                    <li>
                                        <a href="" class="btn" ng-click="showPortfolioExtras(piece.id)">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn" href="{{ piece.link }}" title="{{ piece.client }}" target="_blank">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- #End: Portfolio -->


        <!-- Home Page -->
        <div id="home-block">
            <div class="logo linear" ng-class="{'active': !show}">
                <h1>Fat Cat</h1>
                <small>Concise company description</small>
            </div>
        </div>
        <!-- #End: Home -->


        <!-- About Page -->
        <div id="about-block">
            <header>
                <h1>"Every pixel counts"</h1>
            </header>
            <div class="content">
                <p>Fat Cat is a group of media professionals based in <span>San Diego</span> dedicated to helping businesses boost their digital presence. Primarily focusing on small businesses and startups, Fat Cat provides high quality Web Design, Development, Photography, Video and Motion Graphics.</p>
                <p>Offering a wide range of services, Fat Cat aims at creating and sustaining long-term partnerships.</p>
            </div>
        </div>
        <!-- #End: About -->

    </div>
    <!-- #End: Content -->


    <!-- Overlay Contact Page -->
    <div id="overlayblock" class="fade" ng-show="show">
        <header>
            <button class="close-overlay" ng-click="fade()">&times;</button>
        </header>
        <div class="wrapper-contact" ng-hide="portfolioExtraState">
            <h1>LET'S BE FRIENDS</h1>
            <i class="fa fa-info"></i><span class="meta">All fields below are required</span>
            <form class="contact-form" ng-submit="contactFatCat();">
                <input class="name" type="text" placeholder="Name" ng-model="username" required /><br />
                <input class="email" type="text" placeholder="Email" ng-model="email" required /><br />
                <input class="subject" type="text" placeholder="Subject" ng-model="subject" required /><br />
                <textarea class="text" placeholder="Meow..." ng-model="message" required /></textarea><br />
                <input class="btn blue" type="submit" value="BLAST OFF">
                <span class="meta"><strong>info</strong>@fatcatonline.net</span>
            </form>
        </div>
        <div class="wrapper-portfolio" ng-show="portfolioExtraState">
            <div class="portfolio-extras-main-block">
                <img ng-src="images/portfolio/{{ portfolioId }}/gallery/{{ extraId }}.jpg">
                <div class="info-block">
                    <a ng-href="{{ portfolioPieces[portfolioId].link }}" target="_blank" title="">
                        <h3><i class="fa fa-external-link"></i>&nbsp;{{ portfolioPieces[portfolioId].client }}</h3>
                    </a>
                    <span ng-bind-html="portfolioPieces[portfolioId].description"></span>
                </div>
            </div>
            <ul class="portfolio-extras-thumbs-block">
                <li ng-repeat="thumb in portfolioPieces[portfolioId].extras">
                    <a href="" class="{{ $index }}" ng-click="setMainBlock($index)">
                        <img ng-src="images/portfolio/{{ portfolioId }}/gallery/{{ $index }}.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- #End: Overlay Contact Page -->